* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: x-large;
}

main {
  margin-top: 100px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_image {
  width: 500px;
  height: 500px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login, .register{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-logo {
  top: 100px;
  position: absolute;
  height: 200px;
  width: 200px;
}

.login_form, .register_form {
  margin: 0 auto;
  font-size: 1.5em;
  width: 600px;
  padding: 30px;
  background: #f9f9f9;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 20px;
}

.login_form Button, .register_form Button {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  display: flexbox;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.login_form Button:hover, .register_form Button:hover {
  background: rgb(100, 21, 129);
}
.products_page_navbar {
  font-size: 1.3rem;
  background-color: rgb(100, 21, 129);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  border: 0px;
  height: auto;
}

.nav-link, .nav_item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover, .nav_item:hover {
  background-color: rgb(100, 21, 129);
  color: rgb(255, 255, 255);
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


.products_page_container_cards {
  margin: 100px 0px;
}

.card_img {
  width: 100%;
}

.card_img_overlay {
  height: 10px;
}

.card_name {
  height: 50px;
}

.card-footer {
  text-align: center;
  margin: auto;
}

.card-footer Button {
  width: 40px;
  margin: 10px;
  cursor: pointer;
  display: flexbox;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.input_quantity {
  width: 50px;
  text-align: center;
}

.float {
  position:fixed;
	text-align:center;
  bottom:10px;
  right: 10px;
}

.checkout_card_price {
  font-size: 1.2em;
  font-weight: bold;
}

.checkout_page {
  margin: 100px 0px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(138, 135, 135);
  border-radius: 3px;
  padding: 30px;
  box-shadow: 1px 2px rgba(119, 117, 117, 0.726);
  margin-bottom: 20px;
}

.checkout_page_table tr th{
  font-size: 1rem;
  margin: 0 auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.checkout_page_table tr td{
  vertical-align: middle;
  font-size: 1.5rem;
  margin: 0 auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.checkout_page_table tr td:nth-child(1){
  background-color: rgb(100, 21, 129);
  color: rgb(255, 255, 255);
}

.checkout_page_table tr td:nth-child(2){
  text-align: left;
}

.checkout_page_table tr td:nth-child(3){
  background-color: rgb(65, 6, 87);
  color: rgb(255, 255, 255);
}

.checkout_page_table tr td:nth-child(4){
  background-color: rgba(50, 27, 133, 0.795);
  color: rgb(255, 255, 255);
}

.checkout_page_table tr td:nth-child(5){
  background-color: rgb(6, 18, 87);
  color: rgb(255, 255, 255);
}

.checkout_page_table tr td:nth-child(6) {
  background-color: rgb(190, 6, 77);
  color: white;
}

.table_total {
  float: right;
  color: white;
  background-color: rgb(65, 6, 87);
  font-size: 1.7rem;
  font-weight: bold;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
}

.od_container {
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.od_container div{
  justify-content: center;
  display: flex;
}

.od_container div:nth-child(3){
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.od_container div:nth-child(4){
  border-radius: 10px;
  font-weight: bolder;
}
